* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1000px;
	background-color: royalblue;
}

.nav-items {
	display: flex;
	margin: 0 30px;
}

.nav-items a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 2em 1em;
	transition: background-color .3s, color .3s;
}

.nav-items a:hover {
	background-color: #fff;
	color: royalblue;
}

.search-box {
	position: relative;
	align-self: stretch;
}

.search-input {
	padding: 2em;
	width: 300px;
	background-color: #eee;
	border: none;
	color: #333;
	font-size: 16px;
	transform: translateX(0) scaleX(0);
	transform-origin: right;
	transition: transform .3s;
}

.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 80px;
	border: none;
	background-color: #3651aa;
	cursor: pointer;
}

.search-btn:focus, .search-input:focus {
	outline: none;
}

.search-btn:focus {
	background-color: #203886
}

.search-input:focus {
	background-color: #ddd
}

.active {
	transform: translateX(-80px) scaleX(1);
}